.mail{
    background-color: #003580;
    width: 100%;
     color: white;  
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.email{
  

    padding:10px;
}
.email>input{
    height:40px;
    width: 300px;
    margin-right: 3px;
    border-radius: 5px;
    border: none;
    

}
.email>button{
    color:white;
    height:40px;
    background-color: #0071c2;
    border:none;
    border-radius: 5px;
}
.maildesc{
 top:-500px;
}